@model User


<div class="container">
    <div class="mb-3">
        <label for="inputPassword5" class="form-label">Atualizar Nome</label>
        <input class="form-control" type="text" aria-label="Disabled input example">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Atualizar Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success">Atualizar usuário</button>
    </div>

</div>